.banner {
	background: url('../../assets/pages/banner.png');
	margin: 0;
	width: 100vw;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: center 0;
}

.textbanner {
	background: url('../../assets/pages/textbanner.svg');
	width: calc(75vw + 100px);
	height: calc(75vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation: fade-up 2.5s;
	position: absolute;
}

.main-text {
	color: white;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}
	100% {
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}